body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

body, button, input, select {
    color: #8B4513; 
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header img {
    margin-bottom: 10px; 
}

main {
    width: 90%;
    max-width: 500px;
}

#salary-input-section {
    margin-bottom: 20px;
    text-align: center;
}

#salary-input, #salary-type {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#salary-type {
    background-color: white;
    border: 1px solid #8B4513;
}

#timer-controls {
    text-align: center;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #8B4513;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #A0522D;
}

#display-area {
    text-align: center;
    font-size: 18px;
}

#earned-amount {
    font-weight: bold;
}


button:disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#display-area {
    animation: fadeIn 3s;
}

#spinning-poo {
    display: inline-block;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

#pooing-text::after {
    content: '';
    animation: ellipsis 1.5s infinite;
}

@keyframes ellipsis {
    0% { content: ''; }
    33% { content: '.'; }
    66% { content: '..'; }
    100% { content: '...'; }
}

#pooing-indicator {
    text-align: center;
    margin-top: 20px; 
    display: inline-block;
    width: 100%;
}

#poo-complete {
    text-align: center;
    display: none; /* Initially hidden */
    margin-top: 20px; 
}

html, body {
    max-width: 100%;
    overflow-x: hidden; /* Prevents horizontal scrolling */
    position: fixed; /* Locks the content in place */
    left: 0;
    right: 0;
}


